div {
  height: 5px;
}
div:nth-child(37) {
  background: hsl(370, #ff0000, #ff0000);
}
div:nth-child(36) {
  background: hsl(360, #ff0000, #ff0000);
}
div:nth-child(35) {
  background: hsl(350, #ff0000, #ff0000);
}
div:nth-child(34) {
  background: hsl(340, #ff0000, #ff0000);
}
div:nth-child(33) {
  background: hsl(330, #ff0000, #ff0000);
}
div:nth-child(32) {
  background: hsl(320, #ff0000, #ff0000);
}
div:nth-child(31) {
  background: hsl(310, #ff0000, #ff0000);
}
div:nth-child(30) {
  background: hsl(300, #ff0000, #ff0000);
}
div:nth-child(29) {
  background: hsl(290, #ff0000, #ff0000);
}
div:nth-child(28) {
  background: hsl(280, #ff0000, #ff0000);
}
div:nth-child(27) {
  background: hsl(270, #ff0000, #ff0000);
}
div:nth-child(26) {
  background: hsl(260, #ff0000, #ff0000);
}
div:nth-child(25) {
  background: hsl(250, #ff0000, #ff0000);
}
div:nth-child(24) {
  background: hsl(240, #ff0000, #ff0000);
}
div:nth-child(23) {
  background: hsl(230, #ff0000, #ff0000);
}
div:nth-child(22) {
  background: hsl(220, #ff0000, #ff0000);
}
div:nth-child(21) {
  background: hsl(210, #ff0000, #ff0000);
}
div:nth-child(20) {
  background: hsl(200, #ff0000, #ff0000);
}
div:nth-child(19) {
  background: hsl(190, #ff0000, #ff0000);
}
div:nth-child(18) {
  background: hsl(180, #ff0000, #ff0000);
}
div:nth-child(17) {
  background: hsl(170, #ff0000, #ff0000);
}
div:nth-child(16) {
  background: hsl(160, #ff0000, #ff0000);
}
div:nth-child(15) {
  background: hsl(150, #ff0000, #ff0000);
}
div:nth-child(14) {
  background: hsl(140, #ff0000, #ff0000);
}
div:nth-child(13) {
  background: hsl(130, #ff0000, #ff0000);
}
div:nth-child(12) {
  background: hsl(120, #ff0000, #ff0000);
}
div:nth-child(11) {
  background: hsl(110, #ff0000, #ff0000);
}
div:nth-child(10) {
  background: hsl(100, #ff0000, #ff0000);
}
div:nth-child(9) {
  background: hsl(90, #ff0000, #ff0000);
}
div:nth-child(8) {
  background: hsl(80, #ff0000, #ff0000);
}
div:nth-child(7) {
  background: hsl(70, #ff0000, #ff0000);
}
div:nth-child(6) {
  background: hsl(60, #ff0000, #ff0000);
}
div:nth-child(5) {
  background: hsl(50, #ff0000, #ff0000);
}
div:nth-child(4) {
  background: hsl(40, #ff0000, #ff0000);
}
div:nth-child(3) {
  background: hsl(30, #ff0000, #ff0000);
}
div:nth-child(2) {
  background: hsl(20, #ff0000, #ff0000);
}
div:nth-child(1) {
  background: hsl(10, #ff0000, #ff0000);
}
